<section class="contact container">
  <h2 class="contact__title contact__title--aside">Contact</h2>
  <div class="contact__info">
    <p class="contact__info-header">
      Let's start building your brand's unique story together.
    </p>
    <p class="contact__info-text">
      Want to see what a difference a strong brand can make? Request a
      consultation today.
    </p>
    <button
      class="contact__btn contact_btn--arrow contact_btn--tablet contact_btn--mobile"
    >
      <span class="contact__btn-text">Get in touch</span>
    </button>
  </div>
</section>
