<section class="selected-work">
    <h2 class="selected-work__header">selected work</h2>
    <ul class="selected-work__example-work">
        <li class="selected-work__work-show work-text1">
            <ul class="selected-work__work-show-inner">
                <li class="selected-work__work-show-item">
                    <ul class="work__details">
                        <li class="work__details-item">
                            <span class="work">trinity</span>
                        </li>
                        <li class="work__details-item">
                            <a href="#" class="work-show__category">Digital Design</a>
                            <a href="#" class="work-show__year">2022</a>
                        </li>
                    </ul>
                </li>
                <li class="selected-work__work-show-item-button">
                    <ul class="selected-work__work-show-item-list">
                        <li class="selected-work__work-show-item-subitem">
                            <span href="#" class="work-show__discover">Discover</span>
                        </li>
                        <li class="selected-work__work-show-item-subitem">
                            <img src="../images/Group%201.svg" alt="#" class="selected-work__work-show-item-image">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="selected-work__work-show trinity"><img src="../images/trinity-work-1.jpg" alt="Trinity Work 1"></li>
        <li class="selected-work__work-show trinity"><img src="../images/trinity-work-2.jpg" alt="Trinity Work 2"></li>
        <li class="selected-work__work-show morpheus"><img src="../images/morpheus-work-1.jpg" alt="Morpheus Work 1"></li>
        <li class="selected-work__work-show morpheus"><img src="../images/morpheus-work-2.jpg" alt="Morpheus Work 2"></li>
        <li class="selected-work__work-show work-text2">
            <ul class="selected-work__work-show-inner">
                <li class="selected-work__work-show-item">
                    <ul class="work__details">
                        <li class="work__details-item">
                            <span class="work">morpheus</span>
                        </li>
                        <li class="work__details-item">
                            <a href="#" class="work-show__category">Digital Design</a>
                            <a href="#" class="work-show__year">2023</a>
                        </li>
                    </ul>
                </li>
                <li class="selected-work__work-show-item-button">
                    <ul class="selected-work__work-show-item-list">
                        <li class="selected-work__work-show-item-subitem">
                            <span href="#" class="work-show__discover">Discover</span>
                        </li>
                        <li class="selected-work__work-show-item-subitem">
                            <img src="../images/Group%201.svg" alt="#" class="selected-work__work-show-item-image">
                        </li>
                    </ul>
                </li>
            </ul>

        </li>
    </ul>
    <button class="selected-work__all-works">All Works</button>
</section>