<section class="selected-work">
    <h2 class="selected-work__header">selected work</h2>
    <ul class="selected-work__example-work">
        <li class="selected-work__work-show">
            <span>trinity</span>
            <a href="#" class="work-show__category">Digital Design</a>
            <a href="#" class="work-show__year">2022</a>
            <a href="#" class="work-show__discover">Discover</a>
        </li>
        <li class="selected-work__work-show"><img src="../images/trinity-work-1.jpg" alt="Trinity Work 1"></li>
        <li class="selected-work__work-show"><img src="../images/trinity-work-2.jpg" alt="Trinity Work 2"></li>
        <li class="selected-work__work-show"><img src="../images/morpheus-work-1.jpg" alt="Morpheus Work 1"></li>
        <li class="selected-work__work-show"><img src="../images/morpheus-work-2.jpg" alt="Morpheus Work 2"></li>
        <li class="selected-work__work-show">
            <span>morpheus</span>
            <a href="#" class="work-show__category">Digital Design</a>
            <a href="#" class="work-show__year">2023</a>
            <a href="#" class="work-show__discover">Discover</a>
        </li>
    </ul>
</section>